* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Spartan', sans-serif;
    font-weight: 400;
    font-size: 15px;
    background-image: url(bg-pattern-top-desktop.svg), url(bg-pattern-bottom-desktop.svg);
    background-repeat: no-repeat, no-repeat;
}

.container {
    display: block;
    width: 1100px;
    height: 500px;
    margin: auto;
    margin-top: 80px;
    background-color: lightgray;
    
}

.head {
    width: 470px;
    height: auto;
    float: left;
}
h1 {
    color: hsl(300, 43%, 22%);
    font-weight: 700;
    font-size: 40px;
    width: 330px;
    display: block;
}
.paragraph {
    margin-top: 10px;
    color: hsl(303, 10%, 53%);
}

.stars {
    width: 400px;
    height: 45px;
    background-color: hsla(302, 10%, 53%, 0.849);
    
    color: hsl(300, 43%, 22%);
    font-weight: 700;
    padding: 15px 0 15px 20px;
    border-radius: 5px;
    float: right;
}

.first {
    margin: 10px 100px 10px 0;

}
.secound {
    margin: 10px 50px 10px 0;
}
.third {
    margin: 10px 0 10px 0;
}


.big-box {
    display: block;
    float: left;
    margin-top: 60px;
    
}
.column {
    display: block;
    width: 340px;
    height: 210px;
    background-color: hsl(300, 43%, 22%);
    border-radius: 7px;
    color: hsl(0, 0%, 100%);
    padding: 30px;
    box-sizing: border-box;
    float: left;
}


.center {
    margin: 15px 40px 0 40px;
}
.right {
    margin-top: 25px;
}

.column h4 {
    color: hsl(333, 80%, 67%);
}
.column img {
    border-radius: 50%;
    float: left;
    width: 50px;
    height: 50px;
    margin: 0 20px 20px 0;
}
.column p {
    font-weight: 400;
    clear: left;
}
.column h3 {
    margin-top: 5px;
}


/* .attribution {
    font-size: 11px;
    text-align: center;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  } */

@media screen and (max-width: 375px) {
    body {
        background-image: url(bg-pattern-top-mobile.svg), url(bg-pattern-bottom-mobile.svg);
        background-repeat: no-repeat, no-repeat;
    }
    
    .container {
        width: 320px;
        height: auto;
        clear: both;
    }

    .head {
        width: 100%;
        text-align: center;
        margin-bottom: 30px;
    }

    .stars {
        width: 100%;
        height: 80px;
        margin: auto;
        text-align: center;
        margin-bottom: 10px;
    }
    .stars span {
        display: block;
        margin-top: 5px;
    }

    .column {
        width: 100%;
        margin: auto;
        height: 100%;
        margin-top: 20px;
    }
    .right {
        margin-bottom: 50px;
    }
}